@model TiendaManga.ViewModels.MangaIndexViewModel

@{
    ViewData["Title"] = "Eliminar Manga";
}

<h2>Eliminar Manga</h2>
<h3 class="text-danger">¿Está seguro que desea eliminar este Manga?</h3>
<hr />

<div>
    <h4>Manga</h4>
    <dl class="row">
        
        <dt class="col-sm-4">
            Titulo
        </dt>
        <dd class="col-sm-8">
            @Model.Titulo
        </dd>

        <dt class="col-sm-4">
            TomosPublicados
        </dt>
        <dd class="col-sm-8">
            @Model.TomosPublicados
        </dd>

        <dt class="col-sm-4">
            Demografia
        </dt>
        <dd class="col-sm-8">
            @Model.Demografia
        </dd>
        
    </dl>

    <form asp-action="Delete">
        
        <input type="hidden" asp-for="Id" />
        
        <input type="submit" value="Confirmar Eliminación" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar y Volver a la lista</a>
    </form>
</div>